@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap&subset=latin-ext');

body {
	font-family: 'Alfa Slab One', cursive;
}
a{
	color:#824cbb;
}
a:hover {
	color: #482a68;
}
a:visited {
	color: #bd99e2;
}
.chocolate
	{color: purple;
		text-align: center}
.caramel
 	{color: brown;}
 	font-size: 50px;
#vanilla
	{color: rgb(255,105,180);
		text-align: center}
